.padl5.padr5
	h2 Settings

	ul.horizontal.tab.menu
		li.active(data-tab="project") Project
		li(data-tab="users") Users
		li(data-tab="entries") Entries
		li(data-tab="textlayers") Text layers
		//- li(data-tab="metadata-annotations") Annotation types
		li(data-tab="annotationtypes") Annotations

	.active(data-tab="project")
		
	div(data-tab="textlayers")

	div(data-tab="entries")
		
	//- div(data-tab="metadata-annotations")

	div(data-tab="annotationtypes")
		.row.span3
			.cell.span1.annotationtypelist
				h3 Add / remove annotation types
			.cell.span1.addannotationtype
				h3 Add annotation type to project
			.cell.span1.setnames
				h3 Set custom names for tags
				p(style="color:gray")
					strong The custom names are only applicable to the <u>diplomatic</u> layer!
				form
					ul
						li
							b Bold
						li
							label Name
							input(type="text", name="annotationType.b.name", value=settings['annotationType.b.name'])
						li.description
							label Description
							input(type="text", name="annotationType.b.description", value=settings['annotationType.b.description'])
						li
							b Italic
						li
							label Name
							input(type="text", name="annotationType.i.name", value=settings['annotationType.i.name'])
						li.description
							label Description
							input(type="text", name="annotationType.i.description", value=settings['annotationType.i.description'])
						li
							b Underline
						li
							label Name
							input(type="text", name="annotationType.u.name", value=settings['annotationType.u.name'])
						li.description
							label Description
							input(type="text", name="annotationType.u.description", value=settings['annotationType.u.description'])
						li
							b Strikethrough
						li
							label Name
							input(type="text", name="annotationType.strike.name", value=settings['annotationType.strike.name'])
						li.description
							label Description
							input(type="text", name="annotationType.strike.description", value=settings['annotationType.strike.description'])
						li
							input.inactive(type="submit", value="Save settings")
		
	div(data-tab="users")