.padl5.padr5
	h2 Settings

	ul.horizontal.tab.menu
		li.active(data-tab="project") Project
		li(data-tab="textlayers") Text layers
		li(data-tab="metadata-entries") Entries
		//- li(data-tab="metadata-annotations") Annotation types
		li(data-tab="annotationtypes") Annotations
		li(data-tab="users") Users 

	.active(data-tab="project")
		h3 Project

		//- .row.span2
		//- 	.cell.span1
		form
			ul
				li
					label(for="type") Type
					select(name="projectType", data-attr="projectType")
						option(value="collection", selected=settings['projectType']==='collection') Collection
						option(value="work", selected=settings['projectType']==='work') Work
				li
					label(for="title") Project title
					input(type="text", name="title", value=settings['Project title'], data-attr="Project title")
				li
					label(for="leader") Project leader
					select(name="leader", data-attr="Project leader")
						option -- select member --
						each member in projectMembers.models
							sel = member.id === parseInt(settings['Project leader'], 10)
							option(value=member.id, selected=sel)= member.get('title')
				li
					label(for="start") Start date
					input(type="text", name="start", value=settings['Start date'], data-attr="Start date")
				li
					label(for="release") Release date
					input(type="text", name="release", value=settings['Release date'], data-attr="Release date")
				li
					label(for="version") Version
					input(type="text", name="version", value=settings.Version, data-attr="Version")

				if settings.publicationURL.length > 0
					li(style="margin-top: 20px")
						strong Publication
					li
						label URL
						a(href=settings.publicationURL, data-bypass, target="_blank") link
					li
						label Title
						input(type="text", value=settings['publication.title'], name="publication.title", data-attr="publication.title")
					li
						label(for="text.font") Font
						select(name="text.font", data-attr="text.font")
							option(value="junicode", selected=settings['text.font']=='junicode') Junicode
							option(value="dejavu", selected=settings['text.font']=='dejavu') DejaVu
							option(value="gentium", selected=settings['text.font']=='gentium') Gentium
							option(value="alexander", selected=settings['text.font']=='alexander') Alexander
							option(value="newathena", selected=settings['text.font']=='newathena') New Athena
							
				li(style="margin-top: 20px")
					input.inactive(type="submit", name="savesettings", value="Save settings")
			//- .cell.span1
			//- 	h4 Statistics 
			//- 	img.loader(src="/images/loader.gif")
			//- 	pre.statistics

	div(data-tab="textlayers")
		h3 Add / remove text layers

	div(data-tab="metadata-entries")
		.row.span2
			.cell.span1.entrylist
				h3 Add / remove entry metadata fields
			.cell.span1.setnames
					h3 Set entry name
					form
						ul
							li
								label Singular
								input(type="text", name="entry.term_singular", value=settings['entry.term_singular'], placeholder="entry")
							li
								label Plural
								input(type="text", name="entry.term_plural", value=settings['entry.term_plural'], placeholder="entries")
							li
								input.inactive(type="submit", value="Save settings")
		
		
	//- div(data-tab="metadata-annotations")

	div(data-tab="annotationtypes")
		.row.span3
			.cell.span1.annotationtypelist
				h3 Add / remove annotation types
			.cell.span1.addannotationtype
				h3 Add annotation type to project
			.cell.span1.setnames
				h3 Set custom names for tags
				p(style="color:gray")
					strong The custom names are only applicable to the <u>diplomatic</u> layer!
				form
					ul
						li
							b Bold
						li
							label Name
							input(type="text", name="annotationType.b.name", value=settings['annotationType.b.name'])
						li.description
							label Description
							input(type="text", name="annotationType.b.description", value=settings['annotationType.b.description'])
						li
							b Italic
						li
							label Name
							input(type="text", name="annotationType.i.name", value=settings['annotationType.i.name'])
						li.description
							label Description
							input(type="text", name="annotationType.i.description", value=settings['annotationType.i.description'])
						li
							b Underline
						li
							label Name
							input(type="text", name="annotationType.u.name", value=settings['annotationType.u.name'])
						li.description
							label Description
							input(type="text", name="annotationType.u.description", value=settings['annotationType.u.description'])
						li
							b Strikethrough
						li
							label Name
							input(type="text", name="annotationType.strike.name", value=settings['annotationType.strike.name'])
						li.description
							label Description
							input(type="text", name="annotationType.strike.description", value=settings['annotationType.strike.description'])
						li
							input.inactive(type="submit", value="Save settings")
		
	div(data-tab="users")
		.row.span3
			.cell.span1.userlist
				h3 Add / remove project members
			.cell.span2.adduser
				h3 Add user to project