.padl5.padr5
	h2 Settings

	ul.horizontal.tab.menu
		li.active(data-tab="project") Project
		li(data-tab="textlayers") Text layers
		li(data-tab="metadata-entries") Entry metadata
		li(data-tab="metadata-annotations") Annotation types
		li(data-tab="users") Users

	.active(data-tab="project")
		h3 Project

		.row.span2
			.cell.span1
				form
					ul
						li
							label(for="type") Type
							select(name="projectType", data-attr="projectType")
								option(value="collection", selected=settings['projectType']==='collection') Collection
								option(value="work", selected=settings['projectType']==='work') Work
						li
							label(for="title") Project title
							input(type="text", name="title", value=settings['Project title'], data-attr="Project title")
						li
							label(for="leader") Project leader
							select(name="leader", data-attr="Project leader")
								option -- select member --
								each member in projectMembers.models
									sel = member.id === parseInt(settings['Project leader'], 10)
									option(value=member.id, selected=sel)= member.get('title')
						li
							label(for="start") Start date
							input(type="text", name="start", value=settings['Start date'], data-attr="Start date")
						li
							label(for="release") Release date
							input(type="text", name="release", value=settings['Release date'], data-attr="Release date")
						li
							label(for="version") Version
							input(type="text", name="version", value=settings.Version, data-attr="Version")
						if settings.publicationURL.length > 0
							li
								label Publication
								a(href=settings.publicationURL, data-bypass) link
						li(style="margin-top: 20px")
							input.inactive(type="submit", name="savesettings", value="Save settings")
			.cell.span1
				h4 Statistics 
				img.loader(src="/images/loader.gif")
				pre.statistics

	div(data-tab="textlayers")
		h3 Edit text layers

	div(data-tab="metadata-entries")
		h3 Edit entry metadata fields
		
		
	div(data-tab="metadata-annotations")
		
	div(data-tab="users")
		.row.span3
			.cell.span1.userlist
				h3 Project members
			.cell.span2.adduser
				h3 Add new user to project