.left
	img(src="/images/logo.elaborate.png")
	ul.horizontal.menu
		li.thisproject.arrowdown 
			span.projecttitle= projects.current.get('title')
			ul.vertical.menu
				li.search= plural + ' overview'
				if user.get('roleNo') >= 30
					li.settings Settings
				li.statistics Statistics
				li.history History
.middle
	span.message
.right
	ul.horizontal.menu
		li 
			a(href="http://elaborate.huygens.knaw.nl/wp-content/bestanden/2012/12/Handleiding-Elaborate-4.pdf", target="_blank", data-bypass) Help
		li.username.arrowdown= user.get('title')
			ul.vertical.menu
				li.projects.arrowleft= 'My projects (' + projects.length + ')'
					ul.vertical.menu
						each project in projects.models
							li.project(class=projects.current==project?'active':'', data-id=project.id)= project.get('title')
				if user.get('roleNo') >= 40
					li.addproject Add project
				li.logout Logout
	img(src="/images/logo.huygens.png")