//- The entrymetadatafields are split over two <div class="cell">s
//- The left .cell renders everything smaller than length/2, the rest is
//- rendered in the right .cell.
//- The tabindexes are calculated using the same logic, the tabs run vertically and
//- at the last input in the left .cell, the tab jumps to first in the right .cell.
//- The input[type="submit"] button gets the highest tabindex.
h3 Edit metadata of multiple entries 
.row.span2
	.cell.span1
		form
			ul
				each field, key in entrymetadatafields
					if key < entrymetadatafields.length/2
						li 
							label= field
							input(type="text", name=field, tabindex=key * 2 + 1)
							input(type="checkbox", tabindex=key * 2 + 2, data-name=field)
	.cell.span1
		form
			ul
				each field, key in entrymetadatafields
					if key >= entrymetadatafields.length/2
						li 
							label= field
							input(type="text", name=field, tabindex=entrymetadatafields.length/2 + key * 2 - 1)
							input(type="checkbox", tabindex=entrymetadatafields.length/2 + key * 2, data-name=field)


footer
	button.simple.inactive(name="savemetadata", tabindex=entrymetadatafields.length * 2 + 1) Save metadata
	span or
	button(name="cancel", tabindex=entrymetadatafields.length * 2 + 2) Cancel