ul.pagination
	if (step10 && pageCount >= 10)
		li.prev10(class=currentPage>10?'active':'', title='go back 10 pages') &laquo;
	li.prev(class=currentPage>1?'active':'', title='previous page') &lsaquo;
	if (showPageNames != null)
		li.pageNameSingular= showPageNames[0]
	li.current= currentPage
	li.text of
	li.pagecount= pageCount
	if (showPageNames != null)
		li.pageNamePlural= showPageNames[1]
	li.next(class=currentPage<pageCount?'active':'', title='next page') &rsaquo;
	if (step10 && pageCount >= 10)
		li.next10(class=currentPage<=pageCount-10?'active':'', title='go forward 10 pages') &raquo;