form
	ul.form(data-model-id=model.cid)
		li
			label Type
			select(name="metadata.type")
				each item in collection.models
					- sel = item.id === model.get('annotationType').id
					option(value=item.id, selected=sel) #{item.get('description')} (#{item.get('name')})

		each metadata in model.get('annotationType').metadataItems
			li 
				label(title=metadata.description)= metadata.name
				input(type="text", name='metadata.'+metadata.name, value=model.get('metadata')[metadata.name])x