- randomID = generateID()

li.entry(id='entry'+entry.id)
	.editmultiple
		input(type="checkbox", data-id=entry.id, id=randomID)
		label(for=randomID)= entry.name
	a(href='projects/'+projectName+'/entries/'+entry.id)= entry.name
	if fulltext
		.found= found
	.metadata
		ul
			each value, key in entry.metadata
				li
					span.key= key+': '
					span.value= value

	if fulltext
		.keywords
			ul
				if entry._kwic != null
					each kwic, container in entry._kwic
						each row in kwic
							li!= '<span class="container">'+container + ':</span> '+ row