- currentTranscription = entry.get('transcriptions').current
.left-menu
	ul.horizontal.menu.nav
		li(data-key="previous", class=entry.prevID>0?'active':false) &nbsp;
		li(data-key="current", title=entry.get('name'))= entry.get('name')
		li(data-key="next", class=entry.nextID>0?'active':false) &nbsp;
	ul.horizontal.menu.switchers
		li(data-key="facsimiles") Facsimiles&nbsp;
			span= '(' + entry.get('facsimiles').length + ')'
			ul.vertical.menu.facsimiles
				li.spacer &nbsp;
				//- >= USER
				if user.get('roleNo') >= 20
					li.subsub(data-key="editfacsimiles") Add &amp; remove...
				each facsimile, index in entry.get('facsimiles').models
					li(class=index==0?'active':'', data-key="facsimile", data-value=facsimile.id)= facsimile.get('name')
		li(data-key="textlayers") Text layers&nbsp;
			span= '(' + entry.get('transcriptions').length + ')'
			ul.vertical.menu.textlayers
				each transcription in entry.get('transcriptions').models
					li(data-key="transcription", data-value=transcription.id) #{transcription.get('textLayer')} layer
.middle-menu
	ul.horizontal.menu
		//- >= USER
		if user.get('roleNo') >= 20
			li(data-key="print") Print
		li.arrowdown(data-key="layer", data-value=currentTranscription.id)= currentTranscription.get('textLayer') + ' layer'
			ul.vertical.menu.textlayers
				li.spacer &nbsp;
				each transcription in entry.get('transcriptions').models
					if transcription != currentTranscription
						li(data-key="transcription", data-value=transcription.id) #{transcription.get('textLayer')} layer
.right-menu
	ul.horizontal.menu
		//- >= PROJECT_LEADER
		if user.get('roleNo') >= 30
			li(data-key="delete") Remove
		li(data-key="metadata") Metadata