form
	ul(data-model-id=model.cid)
		li
			label Name
			input(type="text", name="name", value=model.get('name'))
		- console.log(model.get('settings').attributes)
		each value, key in model.get('settings').attributes
			li
				label= key
				input(type="text", name=key, value=value)
		li
			label Publishable
			input(type="checkbox", name="publishable", checked=model.get('publishable'))
br
small The last modification of #{model.get('name')} was #{new Date(model.get('modifiedOn')).toDateString()} by #{model.get('modifier').title}.