small The last modification of #{model.get('name')} was #{new Date(model.get('modifiedOn')).toDateString()} by #{model.get('modifier').title}.
br
br
form.edit-entry-metadata
	ul(data-model-id=model.cid)
		li
			- id = generateID()
			label(for=id) Name
			if user.get('roleNo') >= 20
				input(id=id, type="text", name="name", value=model.get('name'))
			else
				span= model.get('name')

		each key in entrymetadatafields
			li
				- id = generateID()
				- value = model.get('settings').get(key)
				label(for=id)= key
				if user.get('roleNo') >= 20
					input(id=id, type=key=='Publishable'?'checkbox':'text', name=key, value=value)
				else
					span= value

		li
			- id = generateID()
			label(for=id) Publishable
			if user.get('roleNo') >= 20
				input(id=id, type="checkbox", name="publishable", checked=model.get('publishable'))
			else
				span= model.get('publishable')